.main-content{
    display: flex;
    margin-left: 40px;
}
.title1{
    font-size: 30px;
    padding-top: 20px;
}
.news{
    color: #000723;
    text-decoration: none;
}
.news:hover{
    color:  #BF8664;
    font-weight: bold;
}
.news-left{
    flex: 2;
    margin-left: 20px;
    padding-right: 50px;
}
.advertisement-right{
    flex: 1;
    margin-right: 0px;
    padding-top: 30px;
    padding-left: 30px;
}
.principal{
    width: 700px;
    height: auto;
    cursor: pointer
}
.second-ad{
    padding-top: 100px;
}
@media only screen and (max-width: 780px) {
    .news-left{
        box-sizing: border-box;
    }
    .advertisement-right{
        display: none;
    }
    .principal{
        width: 70%;
        height: auto;
        box-sizing: border-box;
    }
    .title1{
        font-size: 25px;
        padding-top: 10px;
    }
    body{
        overflow-x: hidden;
    }
}

.footer{
    padding: 20px;
    margin-top: 50px;
    background-color: #537373;
    color: #ffffff;
    text-align: center;
}