
.must .must-see{
    font-size: 25px;
    font-style: italic;
    color: #537373;
}
.column{
    color: #000723;
    width: 40%;
    margin-right: 20px;
    padding-bottom: 35px;
}
.boximg{
    float: left;
    max-width: 40%;
    height: auto;
    padding: 10px;
}
.side{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.column-text{
    padding-top: 20px;
}