@media screen and (max-width: 600px) {
    .main-content {
      width: 100%;
    }
    header #branding, header nav, header nav li, .main-content, #boxes .box, .boximg, .side{
        float: none;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header{
        padding-bottom: 20px;
    }
    .sidebar, .side{
        display: none;
    }
    .box .boximg, .must .column .boximg{
        display: inline-block
    }
    #boxes .box, .boximg{
        display: contents;
    }
    .center{
        visibility: hidden;
    }
    .must{
        width: max-content;
    }
    .must .column .boximg{
        padding-top: 20px;
    }
}
